<a class="inline-block fixed bottom-10 right-10 z-10 p-2 text-gray-600" href="#top" title="Go back top">
  <span class="sr-only">Go back top</span>
  <svg class="h-10" fill="none" viewBox="0 0 24 24" stroke="currentColor">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 11l3-3m0 0l3 3m-3-3v8m0-13a9 9 0 110 18 9 9 0 010-18z" />
  </svg>
</a>